.global-header {
    background: transparent linear-gradient(180deg, #3A1D98 0%, #1D0F4C 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);


    .course-header {
        span{
            color: #ffffff;
        }
    }

}

{{ UFMT_EM_REDE_EXTRAS }}

// Fonts
@import "fonts";