$static-path: '..' !default;

// Add an image as banner
{% if UFMT_EM_REDE_HOMEPAGE_BG_IMAGE != "" %}
$homepage-bg-image: url('#{$static-path}/images/{{ UFMT_EM_REDE_HOMEPAGE_BG_IMAGE }}');
{% endif %}

$primary : {{ UFMT_EM_REDE_PRIMARY }};
$primary-light : {{ UFMT_EM_REDE_PRIMARY_LIGHT }};
$secondary: {{ UFMT_EM_REDE_SECONDARY }};

$brand: {{ UFMT_EM_REDE_BRAND }};
$success: {{ UFMT_EM_REDE_SUCCESS }};
$info: {{ UFMT_EM_REDE_INFO }};
$danger: {{ UFMT_EM_REDE_DANGER }};
$warning: {{ UFMT_EM_REDE_WARNING }};
$light: {{ UFMT_EM_REDE_LIGHT }};
$dark: {{ UFMT_EM_REDE_DARK }};
$drak: {{ UFMT_EM_REDE_DRAK }};
$light-drak: {{ UFMT_EM_REDE_LIGHT_DRAK }};
$accent-a: {{ UFMT_EM_REDE_ACCENT_A }};
$accent-b: {{ UFMT_EM_REDE_ACCENT_B }};

// Theme fonts
$font-family-title: 'Inter', sans-serif;;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';

$drak: {{ UFMT_EM_REDE_DRAK }};
$light-drak: {{ UFMT_EM_REDE_LIGHT_DRAK }};


