@import "fonts";

#main {
    background-color: $secondary;
}

.wrapper-header.wrapper {
    background: {{ UFMT_EM_REDE_HEADER_BACKGROUND }};
    box-shadow: {{ UFMT_EM_REDE_HEADER_BOX_SHADOW }};
}

.wrapper-header .wrapper-l, .wrapper-header .wrapper-r {
   background: unset;
}